
/* FIXES FOR THE REACT CALENDAR*/
.quida-calendar .react-calendar {
    background: rgba(255, 255, 255, 0.5);
    font-size: 1.3em;
}

.quida-calendar .react-date-picker__calendar .react-date-picker__calendar--open {

}


.react-date-picker__inputGroup__input {
    color: #fff;
}

.quida-calendar .react-date-picker__inputGroup {
    min-width: 150px;
    margin: 0 auto;
    border: 3px solid #006661;
    font-size: 1.5em;
    color: #fff;
}

.quida-calendar .react-calendar__month-view {
    background: rgba(255, 255, 255, 0.5);
    font-size: 1em;
    font-weight: bold;
}

.react-date-picker, .react-date-picker *, .react-date-picker *:before, .react-date-picker *:after {

    font-weight: bold;
}

.react-calendar__tile--active {
    background-color: #006661;
}