.quida {
  display: grid;
  grid-template-columns: 5% 1fr 5%;
}

.quida-header {
  border: 1px solid #006661;
  grid-column: 1/4;
}

.quida-header-logo {
  max-height: 50px;
}

.quida-main {
  grid-column: 2/3;
}

.quida-service-list {
  display: inline-flex;
}

.white {
  color: #fff;
  text-shadow: 2px 1px #006661;
}

.responsive {
  width: 100%;
  height: auto;
}

.boxed {
  width: 300px;
  height: 125px;
}

.quida-bookflow-nav {
  position: absolute;
  bottom: 20px;
  right: 43%;
}

.quida-bookflow-button {
  background-color: #006661;
  color: #fff;
  padding: 10px 30px;
  cursor: pointer;
  margin: 5px 20px;
  border-radius: 30px;
}
.quida-bookflow-button:hover {
  background-color: #017973;
}

@media only screen and (min-width: 780px) {
  .quida {
    display: grid;
    grid-template-columns: 10% 1fr 10%;
  }
}