.quida {
  display: grid;
  grid-template-columns: 1% 1fr 1%;
}

.quida-header {
  grid-column: 1/4;
  text-align: center;
}

.quida-header-logo {
  max-height: 50px;
}

.quida-main {
  text-align: center;
  grid-column: 2/3;
  background-color: #01797305;
  min-height: 80vh;
}

.quida-grid-item {
  display: inline-grid;
}


.quida-page-home {
  grid-column: 2/3;
  height: 100vh;
  background-image: url(./assets/other.jpeg);
  background-position: center;
  background-size: cover;
  text-align: center;
}

.quida-home-cta {
  margin-top: 20%;
}

.white {
  color: #fff;
  text-shadow: 2px 1px #006661;
}

.responsive {
  width: 100%;
  height: auto;
}

.boxed {
  width: 300px;
  height: 125px;
  padding: 10px;
  margin: 10px;
}

.quida-bookflow-nav {
  position: fixed;
  bottom: 20px;
  right: 0px;
  width: 100%;
}

.quida-button {
  background-color: #006661;
  color: #fff;
  padding: 10px 30px;
  cursor: pointer;
  margin: 5px 20px;
  border-radius: 30px;
  text-decoration: none;
  border: 1px solid #006661;
}

.quida-button-secondary {
  background-color: #fff;
  color: #006661;
  padding: 10px 30px;
  cursor: pointer;
  margin: 5px 20px;
  border-radius: 30px;
  text-decoration: none;
  border: 1px solid #006661;
}

.quida-button:hover {
  background-color: #017973;
}

.quida-booking-date {
  font-size: 1.3em;
 background-color: rgba(0, 0, 0, 0.534);
 color: #fff;
 padding: 10px;
 text-shadow: none;
}

@media only screen and (min-width: 780px) {
  .quida {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
  }
}